<!-- Validation failure messages -->
<% if @hyped_game.errors.any? %>
  <% @hyped_game.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Hyped Game #<%= @hyped_game.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_hyped_game/<%= @hyped_game.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for videogame_id -->
      <div class="form-group">
        <label for="videogame_id" class="control-label">
          Videogame
        </label>

        <input type="text" id="videogame_id" name="videogame_id" placeholder="Videogame" class="form-control" value="<%= @hyped_game.videogame_id %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @hyped_game.user_id %>">
      </div>

      <button class="btn btn-warning">
        Update Hyped Game
      </button>
      or
      <a href="/hyped_games/<%= @hyped_game.id %>">Cancel</a>
    </form>
  </div>
</div>
