<div class="page-header">
  <h3>Videogame #<%= @videogame.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @videogame.title %></dd>

      <dt>Description</dt>
      <dd><%= @videogame.description %></dd>

      <dt>Image url</dt>
      <dd><%= @videogame.image_url %></dd>
      <img src="<%= @videogame.image_url %>" alt="">
      #include HTML for picture sizing

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/videogames" class="btn btn-primary">
        Back
      </a>
      <a href="/videogames/<%= @videogame.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_videogame/<%= @videogame.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<% if @hyped_game.errors.any? %>
  <% @hyped_game.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Hyped Game</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_hyped_game" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for videogame_id -->
      <div class="form-group">
        <label for="videogame_id" class="control-label">
          Videogame
        </label>

        <input type="hidden" id="videogame_id" name="videogame_id" placeholder="Videogame" class="form-control" value="<%= @videogame.id %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
      </div>

      <button class="btn btn-success">
        Hype it
      </button>
      or
      <a href="/hyped_games">Cancel</a>
    </form>
  </div>
</div>
