<div class="page-header">
  <h3><%= @videogame.name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @videogame.title %></dd>

      <dt>Description</dt>
      <dd><%= @videogame.description %></dd>

<dt>Average Rating </dt>
<dd><div id="star"></div></dd>

<dt> Your Rating </dt>
<dd>
  <div id="user_star"></div>
</dd>

<% if @videogame.hypes.size > 0 -%>
  <dt>Hyped By: </dt>
  <dd>
    <%= @videogame.hypes.map{|h| h.user.username}.join(", ") -%>
  </dd>
  <% end -%>

      <dt> Game Cover </dt>
    <div>
      <img style="height:400px;" src="<%= @videogame.image_url %>" alt="">
    <form action="/hype" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <input type="hidden" id="videogame_id" name="videogame_id" placeholder="Videogame" class="form-control" value="<%= @videogame.id %>">

      <button class="btn btn-success">
        Hype it
      </button>
    </form>

    </div>


    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/videogames" class="btn btn-primary">
        Back
      </a>
      <a href="/videogames/<%= @videogame.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_videogame/<%= @videogame.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<div class="page-header">
  <h3>Hype Game</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/hype" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <input type="hidden" id="videogame_id" name="videogame_id" placeholder="Videogame" class="form-control" value="<%= @videogame.id %>">

      <button class="btn btn-success">
        Hype it
      </button>
    </form>
  </div>
</div>
<script>
  $('star').raty({
    readOnly: true,
    score: <%= @videogame.average_rating %>,
    path: '/assets'
  });


    $('#user_star').raty({
      score: <%= @myrating.score %>.0,
        path: '/assets',
        click: function(score, evt) {
        $.ajax({
          url: '/ratings/' + <%= @myrating.id %>,
          type: 'PATCH',
          data: { score: score }
        });
        }
    });
    </script>
